<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>
  <modules>
    <module assemblyFile="Catel.Examples.WPF.Prism.Modules.Departments.dll" moduleType="Catel.Examples.WPF.Prism.Modules.Departments.DepartmentsModule, Catel.Examples.WPF.Prism.Modules.Departments, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DepartmentsModule" startupLoaded="true"/>
    <module assemblyFile="Catel.Examples.WPF.Prism.Modules.Employees.dll" moduleType="Catel.Examples.WPF.Prism.Modules.Employees.EmployeesModule, Catel.Examples.WPF.Prism.Modules.Employees, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="EmployeesModule" startupLoaded="true"/>
  </modules>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Catel.Core" publicKeyToken="1c8163524cbe02e6" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Catel.MVVM" publicKeyToken="1c8163524cbe02e6" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
