<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="5.3.0-unstable0117" targetFramework="xamarinios10" />
  <package id="Catel.MVVM.Xamarin.Forms" version="5.3.0-unstable0117" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="xamarinios10" />
</packages>