<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\NET\Catel.Examples.WPF.AdvancedDemo\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.Analytics\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.Authentication\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.AvalonDock\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.BrowserApplication\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.Commanding\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.DisplayProgress\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.MasterDetail\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.Memento\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.Models\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel.NuGet\ModularityWithCatel.Desktop\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel.NuGet\ModuleA\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel.NuGet\ModuleB\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel.NuGet\ModuleC\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel.NuGet\ModuleD\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel.NuGet\ModuleE\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel.NuGet\ModuleF\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel.NuGet\ModuleTracking\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel\ModularityWithCatel.Desktop\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel\ModuleA\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel\ModuleB\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel\ModuleC\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel\ModuleD\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel\ModuleE\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel\ModuleF\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ModularityWithCatel\ModuleTracking\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.MultiLingual\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.MvvmCommunicationStyles\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.PersonApplication\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.Prism.Modules.Departments\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.Prism.Modules.Employees\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.Prism.Shared\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.Prism\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.TaskCommand\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.Validation\packages.config" />
  <repository path="..\src\NET\Catel.Examples.WPF.ViewModelLifetime\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.AdvancedDemo.Web\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.AdvancedDemo\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.DisplayProgress\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.ModularityWithCatel\ModularityWithCatel.Silverlight.Web\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.ModularityWithCatel\ModularityWithCatel.Silverlight\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.ModularityWithCatel\ModuleA\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.ModularityWithCatel\ModuleB\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.ModularityWithCatel\ModuleC\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.ModularityWithCatel\ModuleD\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.ModularityWithCatel\ModuleE\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.ModularityWithCatel\ModuleF\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.ModularityWithCatel\ModuleTracking\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.NavigationApplication.Web\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.NavigationApplication\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.NestedUserControls.Web\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.NestedUserControls\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.PersonApplication.Web\packages.config" />
  <repository path="..\src\SL\Catel.Examples.SL.PersonApplication\packages.config" />
  <repository path="..\src\WIN80\Catel.Examples.WIN80.Advanced\packages.config" />
  <repository path="..\src\WP8\Catel.Examples.WP8.BingMaps\packages.config" />
  <repository path="..\src\WP8\Catel.Examples.WP8.ShoppingList\packages.config" />
</repositories>