<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>       
        <!-- This handler slows down certain module transmissions for quickstart purposes.  This should not be included with a real application. -->
       <add verb="*" path="*.xap" type="ModularityWithCatel.Silverlight.Web.XapDownloadHandler, ModularityWithCatel.Silverlight.Web"/>
      </httpHandlers>
    </system.web>

</configuration>
